@font-face {
    src: url("../asset/Herculanum.ttf");
}

.label {
    -fx-font-family: 'Herculanum';
    -fx-font-size: 30pt;
    -fx-background-color: #54261C;
    -fx-background-radius: 2em;
    -fx-text-fill: #DFD7D1;
    -fx-alignment: center;
}

.button {
    -fx-font-family: 'Herculanum';
    -fx-font-size: 24pt;
    -fx-background-color: #4A3B2E;
    -fx-background-radius: 2em;
    -fx-text-fill: #DFD7D1;
}

.button:hover {
    -fx-background-color: #5A4737;
}
.button:pressed {
    -fx-background-color: #785F4A;
}